<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100146049910-jhbhael1v96lafmvdt5968cbdkavdtr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100146049910-jhbhael1v96lafmvdt5968cbdkavdtr7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtsnNqTSSdRT9FF09h3snqPh5PBnhLlwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100146049910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-30ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-30ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100146049910:ios:765ca5a516602b5af28057</string>
</dict>
</plist>